@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins';
}

body {
    margin: 0;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper h1 {
    margin-top: 1rem;
    text-shadow: 1px 1px 1px white;
}

.wrapper p {
    font-style: italic;
    text-shadow: 1px 1px 1px white;
}

.wrapper .line {
    height: 6px;
    width: calc(100vw - 300px);
    margin-top: 2rem;
    border-radius: 50%;
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}

label,
input,
textarea {
    display: block;
    margin: 0.5rem 0;
}

label {
    font-weight: bold;
}

input,
textarea {
    font: inherit;
    padding: 0.2rem 0.4rem;
    width: 100%;
    border: 1px solid #ccc;
}

input:focus,
textarea:focus {
    outline: none;
    background: #fff5f9;
}

button {
    border-radius: 5px;
    font: inherit;
    background: #ff0062;
    border: 1px solid #ff0062;
    cursor: pointer;
    color: white;
    padding: 0.75rem 1rem;
    letter-spacing: 1.5pt;
}

button:focus {
    outline: none;
}

button:hover,
button:active {
    background: #a80041;
    border-color: #a80041;
}

.projects {
    margin: 1rem;
    width: calc(100vw - 300px);
    border: 1px solid #ff0062;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.projects header {
    background: #ff0062;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#finished-projects {
    border-color: #0044ff;
}

#finished-projects header {
    background: #0044ff;
}

.projects h2 {
    margin: 0;
    letter-spacing: 1.5pt;
    color: white;
}

.projects ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
}

.projects #active-projects-list {
    background-color: rgb(250, 158, 122);
}

.projects li {
    display: grid;
    grid-template-columns: auto 2fr 0.1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        'icon title trash'
        'icon persons trash'
        'icon description trash';
    align-items: center;
    column-gap: 1.5rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
    background-color: rgb(219, 119, 79);
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.56, 0.73, 0.27, 0.91);
    opacity: 0;
    transform: translateY(20px);
}

.projects li h2,
.projects li h3,
.projects li p {
    word-wrap: break-word;
    margin: 0.625rem 0 0.125rem 0.625rem;
}

.projects li i {
    font-size: 1.725rem;
    color: rgb(44, 43, 43);
    grid-area: icon;
    place-self: center;
    padding: 1.125rem;
    transition: text-shadow 0.3s linear;
}

.projects li i:hover {
    text-shadow: 2px 2px 2px white;
    color: #3d3d3d;
}

.projects li h2 {
    grid-area: title;
}

.projects line h3 {
    grid-area: persons;
}

.projects li p {
    grid-area: description;
}

.projects li i:last-of-type {
    grid-area: trash;
}

.projects li:last-child {
    opacity: 0;
}

.projects li.visible {
    opacity: 1;
    transform: translateY(0);
}

.projects li:hover {
    background-color: rgba(212, 91, 70, 0.685);
    transform: scale(0.99);
}

.projects li:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.projects li h2 {
    color: #ff0000;
    text-shadow: 2px 3px 2px black;
}

.projects li h3 {
    color: #313131;
    font-size: 1rem;
}

.droppable {
    background-color: rgb(236, 141, 104);
}

#finished-projects .droppable {
    background-color: rgb(146, 208, 250);
}

#finished-projects-list {
    background-color: rgb(137, 183, 252);
}

#finished-projects li {
    background-color: rgb(53, 123, 226);
}

#user-input {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: calc(100vw - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#user-input button {
    width: 620px;
    margin-top: 0.725rem;
}

.form-control {
    width: 620px;
    display: grid;
    grid-template-columns: 1fr;
}

.form-control label {
    text-align: left;
    font-size: 1.125rem;
    margin-bottom: 0;
}

.form-control input,
.form-control textarea,
.form-control select {
    padding: 0.725rem;
    border-radius: 5px;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
